<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/style.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<body>

<!-- #home -->
<div data-role="page" id="manager" data-theme="a" onload="window.location.href = 'https://google.com'">
	<div role="main" class="ui-content">
    <div class="container">
      <div class="content-box-container">
        <div class="header">
          <img src="images/banner.jpg">

          <div class="title">
            <p>REFEREE</p>
          </div>
        </div>

        <div class="content">
          <div class="first-content-box">
            <a href="/referee#start-match"><input id="submit" type="submit" value="Start match"></a>
          </div>

          <div class="logout-box">
            <a href="/logout"><input id="submit" type="submit" value="Logout"></a>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<!-- #home -->
<div data-role="page" id="start-match" data-theme="a" onload="window.location.href = 'https://google.com'">
	<div role="main" class="ui-content">
    <div class="container">
      <div class="content-box-container">
        <div class="header">
          <img src="images/banner.jpg">

          <div class="title">
            <p>START<br>MATCH</p>
          </div>
        </div>

        <div class="content">
          <div class="first-content-box" style="text-align: center;">
            <p>Pick two teams</p>

            <form action="/createMatch" method="post">
              <select id="team1">
                <option selected disabled>Pick Team 1</option>
                <% data.forEach(function(data){ %>
                  <option value="<%= data.id %>"><%= data.teamName %></option>
                <% })%>
              </select>
              <select id="team2">
                <option selected disabled>Pick Team 2</option>
                <% data.forEach(function(data){ %>
                  <option value="<%= data.id %>"><%= data.teamName %></option>
                <% })%>
              </select>
            </form>
            <input id="createTeam" type="submit" value="Submit">
          </div>

          <div class="logout-box">
            <a href="/logout"><input id="submit" type="submit" value="Logout"></a>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<!-- #home -->
<div data-role="page" id="thematch" data-theme="a" onload="window.location.href = 'https://google.com'">
	<div role="main" class="ui-content">
    <div class="container">
      <div class="content-box-container">
        <div class="header">
          <img src="images/banner.jpg">

          <div class="title">
            <p>START<br>MATCH</p>
          </div>
        </div>

        <div class="content">
          <div class="first-content-box" style="text-align: center;">
            <br><br><br>
          </div>

          <div class="logout-box">
            <a href="/logout"><input id="submit" type="submit" value="Logout"></a>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>


<script src="javascripts/createTeam.js"></script>

</body>
</html>
