<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/style.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<body>

<!-- #home -->
<div data-role="page" id="login" data-theme="a">
	<div id="header" data-role="header">
		<h1>Login</h1>
	</div>

	<div role="main" class="ui-content">
		<div role="center" class="ui-content" style="text-align: center">
			<img src="images/kreme.png" id="logo" style="width: 150px;">
		</div>
    <div role="form-container" class="ui-content" style="width: 90%; max-width: 30em; margin-left: auto; margin-right: auto">
      Username:<input type="text" name="username" id="username" required></input>
  	  Password:<input type="password" name="password" id="password" required></input>
  	  <input id="submit" type="submit" value="Submit"><br>
      <hr style="margin-top: -20px;">
      <p style="text-align: center;">or</p>
      <hr>
      <div id="row" class="spectator" style="text-align: center; cursor: pointer">Continue as spectator</div>
		</div>
	</div>

	<div id="footer" data-role="header">
		<p id="footerText" style="font-size: 12px; line-height: 0"></p>
	</div>
</div>

<!-- #manager -->
<div data-role="page" id="manager" data-theme="a">
	<div id="header" data-role="header">
		<h1>Manager</h1>
	</div>

	<div role="main" class="ui-content">
		<div role="center" class="ui-content" style="text-align: center">
			<img src="images/kreme.png" style="width: 150px;" id="logo">
		</div>



	</div>

  <div style="background-color: #00754F; color: white; padding: 2px; padding-top: 23px; padding-bottom: -20px;" data-role="header">
		<p id="footerText" style="font-size: 12px; line-height: 0; float: left"></p>
    <p style="font-size: 12px; line-height: 0; float: right"><a href="#login" style="text-decoration: none; underline: none; color: white;">Log Out</a></p>
    <span class="clear" style="clear: right; display: block;"></span>
	</div>
</div>

<!-- #spectator -->
<div data-role="page" id="spectator" data-theme="a">
	<div id="header" data-role="header">
		<h1>Available Matches</h1>
	</div>

	<div role="main" class="ui-content">
		<div role="center" class="ui-content" style="text-align: center">
			<img src="images/kreme.png" style="width: 150px;" id="logo">
		</div>
	</div>

  <div style="background-color: #00754F; color: white; padding: 2px; padding-top: 23px; padding-bottom: -20px;" data-role="header">
		<p id="footerText" style="font-size: 12px; line-height: 0; float: left"></p>
    <p style="font-size: 12px; line-height: 0; float: right"><a href="#login" style="text-decoration: none; underline: none; color: white;">Log Out</a></p>
    <span class="clear" style="clear: right; display: block;"></span>
	</div>
</div>

<!-- #referee -->
<div data-role="page" id="referee" data-theme="a">
	<div id="header" data-role="header">
		<h1>Referee</h1>
	</div>

	<div role="main" class="ui-content">
		<div role="center" class="ui-content" style="text-align: center">
			<img src="images/kreme.png" style="width: 150px;" id="logo">
		</div>
	</div>

  <div style="background-color: #00754F; color: white; padding: 2px; padding-top: 23px; padding-bottom: -20px;" data-role="header">
		<p id="footerText" style="font-size: 12px; line-height: 0; float: left"></p>
    <p style="font-size: 12px; line-height: 0; float: right"><a href="#login" style="text-decoration: none; underline: none; color: white;">Log Out</a></p>
    <span class="clear" style="clear: right; display: block;"></span>
	</div>
</div>

<!-- #admin -->
<div data-role="page" id="admin" data-theme="a">
	<div id="header" data-role="header">
		<h1>Admin</h1>
	</div>

	<div role="main" class="ui-content">
		<div role="center" class="ui-content" style="text-align: center">
			<img src="images/kreme.png" style="width: 150px;" id="logo">
		</div>
	</div>

  <div style="background-color: #00754F; color: white; padding: 2px; padding-top: 23px; padding-bottom: -20px;" data-role="header">
		<p id="footerText" style="font-size: 12px; line-height: 0; float: left"></p>
    <p style="font-size: 12px; line-height: 0; float: right"><a href="#login" style="text-decoration: none; underline: none; color: white;">Log Out</a></p>
    <span class="clear" style="clear: right; display: block;"></span>
	</div>
</div>



</body>
<script src="javascripts/script.js"></script>
</html>
